<div class="container-fluid bg-primary">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-dark bg-primary navbar-expand-sm">
              <div  class="navbar-brand">
                User Details
              </div>
              <button class="navbar-toggler" data-toggle="collapse" data-target="#navcontent">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navcontent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <div class="search-container">
                  
                    </div>
  
                  </li>
                 
                 
                 
                </ul>
  
              </div>
            </nav>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <footer class="mt-5">
    <nav class="navbar footer bg-primary navbar-dark d-flex justify-content-center"> Copyright 2020 </nav>
</footer>
  